<p>Date: <%= cal_time.datefull %></p>
<p>Day number in week: <%= cal_time.day_number_in_week %></p>
<p>Day number in month: <%= cal_time.day_number_in_month %></p>
<p>Calendar week number: <%= cal_time.calendar_week_number %></p>